body {
  word-break: break-all;
}

.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
  max-width: 200px;
}
.main section article .container-source {
float: right;
  margin: 0;
}